.alert-cont {
    border-radius: 5px;
    padding: 1%;
    z-index: 3;
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: center; 
    box-shadow: 1px 1px 10px grey;
}

.alert {
    width: 100%;
}

.success {
    border: 1px solid var(--l-green);
    color: var(--d-green);
}

.error {
    border: 1px solid var(--l-red);
    color: var(--d-red);
}

.close {
    border-radius: 100px;
    padding: .5%;
}

.close:hover {
    background-color: lightgrey;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .alert-cont {
        border-radius: 5px;
        padding: 1%;
        z-index: 3
    }
    
    .alert {
        width: 50%;
    }

    .success {
        border: 1px solid var(--l-green);
        color: var(--d-green);
    }
    
    .error {
        border: 1px solid var(--l-red);
        color: var(--d-red);
    }
    
    .close {
        border-radius: 100px;
        padding: .3%;
    }
    
    .close:hover {
        background-color: lightgrey;
        cursor: pointer;
    }
}