.form-cont {
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5%;
    box-shadow: 1px 1px 10px black;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-form input {
    width: 50%;
    border-radius: 5px;
}

.session-form label {
    margin: 1%;
}

.session-form button {
    font-family: 'Amaranth', cursive;
    font-family: 'Amaranth', sans-serif;
    margin: 5%;
    background-color: var(--l-green);
    color: var(--d-green);
    border-radius: 5px;
    border: none;
    padding: 2%;
}

.session-form button:hover {
    cursor: pointer;
    background-color: var(--d-green);
    color: var(--l-green);
}

@media only screen and (min-width: 768px) {
    .form-cont {
        border: 1px solid black;
        border-radius: 5px;
        background-color: whitesmoke;
        padding: 0;
        box-shadow: 1px 1px 10px black;
    }

    .session-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .session-form input {
        width: 40%;
        border-radius: 5px;
    }
    
    .session-form label {
        margin: 1%;
    }
    
    .session-form button {
        margin-top: 2%;
    }
}