.form-head {
    margin: 6%;
}

.form-sect {
    margin: 2% 0 0 -40%;
}

.form-cont {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 1px 1px 10px black;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-form input, .session-form select {
    width: 50%;
    border-radius: 5px;
    border: 1px solid var(--d-green);
    padding: 1%;
    outline: none;
    background-color: whitesmoke;
}

.session-form input:focus {
    border: 1px solid var(--l-green);
    background-color: white;
}

.session-form label {
    margin: 1%;
    color: var(--d-green);
}

.session-form button {
    margin: 5%;
    background-color: var(--l-green);
    color: var(--d-green);
    border-radius: 5px;
    border: none;
    padding: 2%;
    transition: 0.3s ease;
}

.session-form button:hover {
    cursor: pointer;
    background-color: var(--d-green);
    color: var(--l-green);
}

svg {
    margin-top: -19px;
    margin-right: -113px;
    border-radius: 10px;
}

svg:hover {
    cursor: pointer;
    background-color: #cdcdcd;
}

@media only screen and (min-width: 768px) {
    .form-head {
        margin: 2%;
    }
    
    .form-cont {
        border: 1px solid black;
        border-radius: 5px;
        padding: 0;
        box-shadow: 1px 1px 10px black;
    }

    .session-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .session-form input, .session-form select {
        width: 27%;
        border-radius: 5px;
        padding: .5%;
    }
    
    .session-form label {
        margin: 1%; 
    }
    
    .session-form button {
        margin: 2%;
        padding: .5%;
    }

    svg {
        margin-top: -26px;
        margin-right: -500px;
    }
}