.banner {
    background-color: var(--d-green);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    width: 21%;
}

.logo {
    color: whitesmoke;
    margin-left: 3%;
}


.auth-container {
    display: flex;
    width: 10%;
}

.auth-item {
    color: whitesmoke;
    margin-right: 8%;
}

.auth-item a {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}

.auth-item a:hover {
    color: var(--l-green);
}

.wrapper {
    padding: 2%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}