#cat-cont {
    padding: 2%;
    margin-bottom: 2%;
    overflow-x: scroll;
    display: flex;
}

#cat-cont div {
    margin-right: 3%;
}

.active {
    color: var(--l-green);
}

.inactive {
    color: var(--d-green);
}

.item-cont {
    padding: 1%;
    border: 1px solid var(--d-green);
    margin: 1% 0;
    box-shadow: 1px 1px 10px black;
}

.item-name {
    font-size: larger;
}

.item-price {
    font-size: larger;
}

.item-desc {
    font-size: smaller;
    padding: 2%;
}

.cart-cont {
    border: 1px solid green;
    border-radius: 5px;
    width: 90%;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0;
}

.cart-val {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.cart-val li {
    list-style-type: none;
}

.details {
    display: flex;
    flex-direction: column;
}

.det-label {
    margin-right: 3%;
}

.order-btn {
    background-color: var(--l-green);
    color: var(--d-green);
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.3s;
    padding: 4%;
    margin-top: 2%;
}

.order-btn:hover, .cart-btn:hover, .add-btn:hover {
    background-color: var(--d-green);
    color: var(--l-green);
    cursor: pointer;
}

.cart-btn {
    display: flex;
    align-items: center;
    background-color: var(--l-green);
    color: var(--d-green);
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 1%;
    padding: 4%;
}

.add-btn {
    display: flex;
    align-items: center;
    background-color: var(--l-green);
    color: var(--d-green);
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 1%;
    padding: 1%;
}

.cancel {
    background-color: var(--l-red);
    color: black;
}

.cancel:hover{
    cursor: pointer;
    background-color: var(--d-red);
    color: white;
}

.clear-icon, .cart-icon {
    margin-right: 3%;
}

.payment {
    width: 50%;
}

.form-group label {
    margin: 1%;
}

.cc {
    width: 10%;
}

.exp, .cvv {
    width: 15%;
}

.order-det-item {
    list-style-type: none;
    margin: 0 2%;
}

@media only screen and (min-width: 768px) {
    #cat-cont {
        padding: 2%;
        margin-bottom: 2%;
        overflow-x: scroll;
        border: 1px solid var(--d-green);
        justify-content: space-evenly;
        display: flex;
    }
    
    #cat-cont div {
        margin-right: 1%;
    }
    
    .active {
        color: var(--l-green);
    }
    
    .inactive {
        color: var(--d-green);
    }

    .active:hover, .inactive:hover {
        cursor: pointer;
    }

    .inactive:hover {
        color: var(--l-green);
    }
    
    .item-cont {
        padding: 1%;
        border: 1px solid var(--d-green);
        margin: 1% 0;
        box-shadow: 1px 1px 10px black;
        width: 95%;
    }
    
    .item-name {
        font-size: xx-large;
    }

    .item-price{
        font-size: larger;
    }
    
    .item-desc {
        font-size: larger;
        padding: 2%;
    }
    .cart-cont {
        border: 1px solid green;
        border-radius: 5px;
        width: 90%;
    }
    
    .cart {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 0;
    }
    
    .cart-val {
        display: flex;
        justify-content: space-between;
        width: 85%;
    }
    
    .cart-val li {
        list-style-type: none;
    }
    
    .details {
        display: flex;
        flex-direction: column;
    }
    
    .det-label {
        margin-right: 3%;
    }
    
    .order-btn {
        background-color: var(--l-green);
        color: var(--d-green);
        border-radius: 5px;
        border: none;
        outline: none;
        transition: 0.3s;
        padding: 1% 4%;
        margin-top: 2%;
        text-decoration: none;
    }
    
    .order-btn:hover {
        background-color: var(--d-green);
        color: var(--l-green);
        cursor: pointer;
    }
}