.container {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 2%;
    background-color: whitesmoke;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.strict-flex {
    display: flex;
}

.space-even {
    justify-content: space-evenly;
}

.space-start {
    justify-content: flex-start;
}

.col {
    flex-direction: column;
}

.wrapped {
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        padding: 1%;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper {
        padding: 2%;
        background-color: whitesmoke;
    }
    
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}