.wrapper {
    padding: 2%;
}

.flex-container {
    display: flex;
}

.strict-flex {
    display: flex;
}

.center {
    align-items: center;
}

.end {
    align-items: flex-end;
}

.space-center {
    justify-content: center;
}

.space-even {
    justify-content: space-evenly;
}

.space-bet {
    justify-content: space-between;
}

.space-start {
    justify-content: flex-start;
}

.space-end {
    justify-content: flex-end;
}

.col {
    flex-direction: column;
}

.wrapped {
    flex-wrap: wrap;
}
