@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  font-family: 'Amaranth', cursive;
  font-family: 'Amaranth', sans-serif;
}

:root {
  --d-green: #093824;
  --l-green: #6C9A8B;
}